@model BookStats.Controllers.PagedData<BookStats.Models.Book>

@{
    ViewData["Title"] = "Book database";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $().ready(function () {
        $("body").on('click', '.page-number', function () {
            var page = parseInt($(this).html());
            $.ajax({
                url: '@Url.Action("BookListAjax")',
                data: { "page": page },
                success: function (data) {
                    $("#booklist").html(data);
                }
            });
        });
    });
</script>


<div class="text-left mt-2">
    <h3 class="display-6">@ViewData["Title"]</h3>
</div>

<div id="booklist">
    @await Html.PartialAsync("BookListAjax")
</div>

