@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h3>Role control panel</h3>
<table class="table w-75 mt-3 pt-3">
    <caption>List of roles</caption>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form class="text-right" asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a class="btn btn-success" asp-action="Create">Add the Role</a>
<a class="btn btn-info" asp-action="UserList">List of users</a>
