@model IEnumerable<User>

<h3>User list</h3>
<table class="table w-75">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td class="text-right">
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Change role</a>
            </td>
        </tr>
    }
</table>