@model IEnumerable<User>

@{
    ViewData["Title"] = "User control panel";
}

<body>
    <div class="text-left mt-2 w-75">
        <h3 class="display-6">@ViewData["Title"]</h3>
        <hr />
    </div>
    <div>
        <ul class="list-group w-75">
            @foreach (var a in Model.OrderByDescending(a => a.NormalizedUserName))
            {
                @await Component.InvokeAsync("UserInfo", new { id = a.Id });
            }
        </ul>
    </div>
</body>